@CHARSET "EUC-KR";
body {
	margin: 0px;
	background-image: url(images/bg/9.JPG);
	background-repeat: repeat;
	background-size: 1600px 900px;
	font: sans-serif;
}
.index {
	width: 100%;
	height: 100%;
}
.head {
	height: 70px;
	text-align: center;
}
.top {
	height: 100px;
	background-color: #ffffff;  
	font: sans-serif;
	font-size: 11px;
}
.top.menu {
	text-align: left;
}
.top.login {
	text-align: right;
}
.main {
	margin: 60px;
}
.bottom {
	background-color: #ffffff;
	height: 80px;
	clear: left; 
	float: left; 
	left: 0;
	bottom: 0px;
	position: absolute; 
	clear: both; 
	width: 100%;
}
