<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>band_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListFree</display-name>
    <servlet-name>ListFree</servlet-name>
    <servlet-class>free.ListFree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFree</servlet-name>
    <url-pattern>/ListFree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinBandServlet</display-name>
    <servlet-name>JoinBandServlet</servlet-name>
    <servlet-class>login.JoinBandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinBandServlet</servlet-name>
    <url-pattern>/joinband.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinBandIdCheck</display-name>
    <servlet-name>JoinBandIdCheck</servlet-name>
    <servlet-class>login.JoinBandIdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinBandIdCheck</servlet-name>
    <url-pattern>/bandidcheck.do</url-pattern>
  </servlet-mapping>
</web-app>