<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>band_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JoinBandServlet</display-name>
    <servlet-name>JoinBandServlet</servlet-name>
    <servlet-class>login.JoinBandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinBandServlet</servlet-name>
    <url-pattern>/joinband.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinIdCheck</display-name>
    <servlet-name>JoinIdCheck</servlet-name>
    <servlet-class>login.JoinIdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinIdCheck</servlet-name>
    <url-pattern>/joinidcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumPostServlet</display-name>
    <servlet-name>AlbumPostServlet</servlet-name>
    <servlet-class>item_servlet.AlbumPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumPostServlet</servlet-name>
    <url-pattern>/album-post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinFanServlet</display-name>
    <servlet-name>JoinFanServlet</servlet-name>
    <servlet-class>login.JoinFanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinFanServlet</servlet-name>
    <url-pattern>/joinfan.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserInfoServlet</display-name>
    <servlet-name>ModifyUserInfoServlet</servlet-name>
    <servlet-class>login.ModifyUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserInfoServlet</servlet-name>
    <url-pattern>/modifyuserinfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserInfoServlet</display-name>
    <servlet-name>DeleteUserInfoServlet</servlet-name>
    <servlet-class>login.DeleteUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserInfoServlet</servlet-name>
    <url-pattern>/deleteuser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBandServlet</display-name>
    <servlet-name>SearchBandServlet</servlet-name>
    <servlet-class>band.SearchBandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBandServlet</servlet-name>
    <url-pattern>/searchband.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>free_servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/free-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWritingServlet</display-name>
    <servlet-name>DeleteWritingServlet</servlet-name>
    <servlet-class>free_servlet.DeleteWritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWritingServlet</servlet-name>
    <url-pattern>/free.delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>free_servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/free-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>free_servlet.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/free-read</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyServlet</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>free_servlet.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/free-reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>free_servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/free-update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWritingServlet</display-name>
    <servlet-name>UpdateWritingServlet</servlet-name>
    <servlet-class>free_servlet.UpdateWritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWritingServlet</servlet-name>
    <url-pattern>/free.update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteFormServlet</display-name>
    <servlet-name>WriteFormServlet</servlet-name>
    <servlet-class>free_servlet.WriteFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteFormServlet</servlet-name>
    <url-pattern>/free-write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>free_servlet.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/free.write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFree</display-name>
    <servlet-name>ListFree</servlet-name>
    <servlet-class>free.ListFree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFree</servlet-name>
    <url-pattern>/ListFree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BandIntroServlet</display-name>
    <servlet-name>BandIntroServlet</servlet-name>
    <servlet-class>band.BandIntroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BandIntroServlet</servlet-name>
    <url-pattern>/bandintro.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BandIntroSessionServlet</display-name>
    <servlet-name>BandIntroSessionServlet</servlet-name>
    <servlet-class>band.BandIntroSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BandIntroSessionServlet</servlet-name>
    <url-pattern>/bandintrosession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BandIntroModifyGoServlet</display-name>
    <servlet-name>BandIntroModifyGoServlet</servlet-name>
    <servlet-class>band.BandIntroModifyGoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BandIntroModifyGoServlet</servlet-name>
    <url-pattern>/bandintromodifygo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BandIntroModifyServlet</display-name>
    <servlet-name>BandIntroModifyServlet</servlet-name>
    <servlet-class>band.BandIntroModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BandIntroModifyServlet</servlet-name>
    <url-pattern>/bandintromodify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestWriteFormServlet</display-name>
    <servlet-name>guestWriteFormServlet</servlet-name>
    <servlet-class>guest_servlet.WriteFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestWriteFormServlet</servlet-name>
    <url-pattern>/guest-form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestWriteServlet</display-name>
    <servlet-name>guestWriteServlet</servlet-name>
    <servlet-class>guest_servlet.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestWriteServlet</servlet-name>
    <url-pattern>/guest.write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestListServlet</display-name>
    <servlet-name>guestListServlet</servlet-name>
    <servlet-class>guest_servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestListServlet</servlet-name>
    <url-pattern>/guest-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestReadServlet</display-name>
    <servlet-name>guestReadServlet</servlet-name>
    <servlet-class>guest_servlet.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestReadServlet</servlet-name>
    <url-pattern>/guest-read</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestDeleteServlet</display-name>
    <servlet-name>guestDeleteServlet</servlet-name>
    <servlet-class>guest_servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestDeleteServlet</servlet-name>
    <url-pattern>/guest-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestDeleteWritingServlet</display-name>
    <servlet-name>guestDeleteWritingServlet</servlet-name>
    <servlet-class>guest_servlet.DeleteWritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestDeleteWritingServlet</servlet-name>
    <url-pattern>/guest.delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestUpdateServlet</display-name>
    <servlet-name>guestUpdateServlet</servlet-name>
    <servlet-class>guest_servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestUpdateServlet</servlet-name>
    <url-pattern>/guest-update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestUpdateWritingServlet</display-name>
    <servlet-name>guestUpdateWritingServlet</servlet-name>
    <servlet-class>guest_servlet.UpdateWritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestUpdateWritingServlet</servlet-name>
    <url-pattern>/guest.update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>guestReplyServlet</display-name>
    <servlet-name>guestReplyServlet</servlet-name>
    <servlet-class>guest_servlet.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestReplyServlet</servlet-name>
    <url-pattern>/guest-reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QnaWriteServlet</display-name>
    <servlet-name>QnaWriteServlet</servlet-name>
    <servlet-class>qna.QnaWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaWriteServlet</servlet-name>
    <url-pattern>/qna_write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QnaListServlet</display-name>
    <servlet-name>QnaListServlet</servlet-name>
    <servlet-class>qna.QnaListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaListServlet</servlet-name>
    <url-pattern>/qnalist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QnaDeleteServlet</display-name>
    <servlet-name>QnaDeleteServlet</servlet-name>
    <servlet-class>qna.QnaDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaDeleteServlet</servlet-name>
    <url-pattern>/qnadelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QnaModifyServlet</display-name>
    <servlet-name>QnaModifyServlet</servlet-name>
    <servlet-class>qna.QnaModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaModifyServlet</servlet-name>
    <url-pattern>/qna_modify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QnaReplyServlet</display-name>
    <servlet-name>QnaReplyServlet</servlet-name>
    <servlet-class>qna.QnaReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaReplyServlet</servlet-name>
    <url-pattern>/qna_reply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordCheckUserInfoServlet</display-name>
    <servlet-name>PasswordCheckUserInfoServlet</servlet-name>
    <servlet-class>login.PasswordCheckUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordCheckUserInfoServlet</servlet-name>
    <url-pattern>/pwdread.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchWriteFormServlet</display-name>
    <servlet-name>SchWriteFormServlet</servlet-name>
    <servlet-class>sch_servlet.SchWriteFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchWriteFormServlet</servlet-name>
    <url-pattern>/schwriteForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchWriteServlet</display-name>
    <servlet-name>SchWriteServlet</servlet-name>
    <servlet-class>sch_servlet.SchWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchWriteServlet</servlet-name>
    <url-pattern>/schwrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchListServlet</display-name>
    <servlet-name>SchListServlet</servlet-name>
    <servlet-class>sch_servlet.SchListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchListServlet</servlet-name>
    <url-pattern>/sch-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchReadServlet</display-name>
    <servlet-name>SchReadServlet</servlet-name>
    <servlet-class>sch_servlet.SchReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchReadServlet</servlet-name>
    <url-pattern>/sch-read</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchDeleteServlet</display-name>
    <servlet-name>SchDeleteServlet</servlet-name>
    <servlet-class>sch_servlet.SchDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchDeleteServlet</servlet-name>
    <url-pattern>/sch-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchDeleteWritingServlet</display-name>
    <servlet-name>SchDeleteWritingServlet</servlet-name>
    <servlet-class>sch_servlet.SchDeleteWritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchDeleteWritingServlet</servlet-name>
    <url-pattern>/schdelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchUpdateServlet</display-name>
    <servlet-name>SchUpdateServlet</servlet-name>
    <servlet-class>sch_servlet.SchUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchUpdateServlet</servlet-name>
    <url-pattern>/sch-update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchUpdateWritingServlet</display-name>
    <servlet-name>SchUpdateWritingServlet</servlet-name>
    <servlet-class>sch_servlet.SchUpdateWritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchUpdateWritingServlet</servlet-name>
    <url-pattern>/schupdate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumListServlet</display-name>
    <servlet-name>AlbumListServlet</servlet-name>
    <servlet-class>item_servlet.AlbumListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumListServlet</servlet-name>
    <url-pattern>/albumlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumReadServlet</display-name>
    <servlet-name>AlbumReadServlet</servlet-name>
    <servlet-class>item_servlet.AlbumReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumReadServlet</servlet-name>
    <url-pattern>/albumread.do</url-pattern>
  </servlet-mapping>
</web-app>