<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" 
					value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url"
					value="jdbc:oracle:thin:@192.168.10.82:1521:xe"/>
				<property name="username" value="user1"/>
				<property name="password" value="123"/>					
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="configurations/LoginMapper.xml"/><mapper
			resource="configurations/AlbumMapper.xml" />
	</mappers>
</configuration>





