<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configurations.GuestMapper"> 
<cache/>

<select id="selectLastId" parameterType = "String" resultType = "Integer"> 
select last_id from id_sequence where table_name = #{name} 
</select> 

<insert id="insertguestbookinfo" parameterType = "guest_model.Writing">  
insert into guestbook_info values( 
#{writingid},#{groupid},#{parentid},#{orderno},#{writerid},#{writingdate},#{title},#{bandid}) 
</insert> 

<insert id="insertguestbookcontent" parameterType = "guest_model.WritingContent"> 
insert into guestbook_content values(#{writingid},#{bandid},#{content}) 
</insert> 

<insert id="insertSequenceManager" parameterType = "guest_model.IdSequence"> 
insert into id_sequence values(#{name}, #{lastid}) 
</insert> 
<update id="updateSequenceManager" parameterType = "guest_model.IdSequence"> 
update id_sequence set last_id=#{lastid} where table_name = #{name} 
</update> 

<select id="selectMaxGroupId" resultType="Integer">
select max(group_id) from guestbook_info
</select>

<select id="selectBBSList" resultType="guest_model.Writing">
select <include refid="BaseColumns"/> from guestbook_info order by group_id desc, order_no asc
</select>



<sql id="BaseColumns">
writing_id as writingid, group_id as groupid, order_no as orderno, 
parent_id as parentid,band_id as bandid,writing_date as writingdate,
writer_id as writerid, title as title
</sql>





<select id="selectWritingInfo" parameterType="Integer" 
													resultType="guest_model.Writing">
select <include refid="BaseColumns"/> from guestbook_info
where writing_id = #{writingid}
</select>
<select id="selectWritingContent" parameterType="Integer" 
													resultType="String">
select content from guestbook_content where writing_id = #{writingid}
</select>
<delete id="deleteWritingInfo" parameterType="Integer">
delete from guestbook_info where writing_id = #{writingid}
</delete>
<delete id="deleteWritingContent" parameterType="Integer">
delete from guestbook_content where writing_id = #{writingid}
</delete>
<update id="updateWritingInfo" parameterType="guest_model.Writing">
update guestbook_info set writer_id = #{writerid}, title = #{title}
where writing_id = #{writingid}
</update>

<update id="updateWritingContent" parameterType="guest_model.Writing">
update guestbook_content set content = #{content}
where writing_id = #{writingid}
</update>
<select id="selectMaxGroupIdReply" parameterType="guest_model.Writing"
								resultType="Integer">
select max(order_no) from guestbook_info
where group_id = #{groupid} and parent_id = #{parentid}
</select>
<select id="selectCount" resultType="Integer">
select count(*) from guestbook_info
</select>
<select id="selectWritingInfoWithRange" parameterType="guest_model.Condition"
								resultType="guest_model.Writing">
select <include refid="BaseColumns" /> from
(select a.*, rownum rn from
(select * from guestbook_info order by group_id desc, order_no asc) a where band_id = #{band_id})
where rn between #{startRow} and #{endRow}
</select>
<update id="updateOrderNoReply" parameterType="guest_model.Writing">
update guestbook_info set order_no = order_no + 1
where group_id = #{groupid} and order_no >= #{orderno}
</update>
<select id="selectMaxOrderNo" parameterType="guest_model.Writing"
								resultType="Integer">
select max(order_no) from guestbook_info where group_id = #{groupid} 
</select>
</mapper>