<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configurations.LoginMapper">
<cache/>
	<insert id="insertBandUser" parameterType="login_model.Band">
	insert into banduser_info values(#{id}, #{password}, #{name}, #{email}, #{genre}, #{content}, #{image_name}) 
	</insert>
	<insert id="insertFanUser" parameterType="login_model.Fan">
	insert into fanuser_info values(#{id}, #{password}, #{email}, #{name}, #{gender}, #{phone}, #{birth}) 
	</insert>
	<select id="selectBandUserID" parameterType="String" resultType="String">
	select id from banduser_info where id=#{id}
	</select>
	<select id="selectFanUserID" parameterType="String" resultType="String">
	select id from fanuser_info where id=#{id}
	</select>
	<select id="selectIDPasswordBandUser" parameterType="String" resultType="String">
	select password from banduser_info where id=#{id}
	</select>
	<select id="selectIDPasswordFanUser" parameterType="String" resultType="String">
	select password from fanuser_info where id=#{id}
	</select>
	<select id="selectFanUserInfo" parameterType="String" resultType="login_model.Fan">
	select ID, PASSWORD, EMAIL, NAME, GENDER, PHONE, BIRTH from fanuser_info where id=#{id}
	</select>
	<select id="selectBandUserInfo" parameterType="String" resultType="login_model.Band">
	select ID, PASSWORD, EMAIL, NAME, GENRE from banduser_info where id=#{id}
	</select>
</mapper>
