<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configurations.QnaMapper">
<cache/>
	<select id="selectIdSequence" parameterType="String" resultType="qna_model.Id_sequence">
	select table_name, last_id from id_sequence where table_name=#{table_name}
	</select>
	<insert id="insertIdSequence" parameterType="qna_model.Id_sequence">
	insert into id_sequence values(#{table_name}, #{last_id})
	</insert>
	<insert id="insertQnaInfo" parameterType="qna_model.Qna_info">
	insert into qna_info values(#{parent_id}, #{writing_id}, #{order_no}, #{writer_id}, #{writing_date}, #{title}, #{band_id})
	</insert>
	<insert id="insertQnaContent" parameterType="qna_model.Qna_content">
	insert into qna_content values(#{writing_id}, #{content}, #{band_id})
	</insert>
	<select id="selectQnaInfo" parameterType="String" resultType="qna_model.Qna_info">
	select * from qna_info where band_id=#{band_id} order by writing_id desc
	</select>
	<select id="selectQnaContent" parameterType="String" resultType="qna_model.Qna_content">
	select * from qna_content where band_id=#{band_id} order by writing_id desc
	</select>
	<update id="updateIdSequence" parameterType="qna_model.Id_sequence">
	update id_sequence set last_id=#{last_id} where table_name=#{table_name}
	</update>
	<delete id="deleteQnaInfo" parameterType="qna_model.Qna_info">
	delete qna_info where band_id=#{band_id} and writing_id=#{writing_id}
	</delete>
	<delete id="deleteQnaContent" parameterType="qna_model.Qna_info">
	delete qna_content where band_id=#{band_id} and writing_id=#{writing_id}
	</delete>
	<select id="selectCountQnaInfo" parameterType="String" resultType="Integer">
	select count(*) from qna_info where band_id=#{band_id}
	</select>
	<update id="updateQnaInfo" parameterType="qna_model.Qna_info">
	update qna_info set title=#{title} where band_id=#{band_id} and writing_id=#{writing_id}
	</update>
	<update id="updateQnaContent" parameterType="qna_model.Qna_content">
	update qna_content set content=#{content} where band_id=#{band_id} and writing_id=#{writing_id}
	</update>

</mapper>
