<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configurations.SchMapper">
<cache/>
<select id="selectLastId" parameterType="String" resultType="Integer">
select last_id from id_sequence where table_name = #{name}
</select>
<insert id="insertWritingInfo" parameterType="Writing">
insert into sch_info values(
#{writingdate},#{writingid},#{writerid},#{imagename},
#{parentid},#{orderno},#{groupid},#{title},#{location})
</insert>
<insert id="insertWritingContent" parameterType="WritingContent">
insert into sch_content values(#{writingid},#{content})
</insert>
<insert id="insertSequenceManager" parameterType="IdSequence">
insert into id_sequence values(#{name}, #{lastid})
</insert>
<update id="updateSequenceManager" parameterType="IdSequence">
update id_sequence set last_id=#{lastid} where table_name = #{name}
</update>
<select id="selectMaxGroupId" resultType="Integer">
select max(group_id) from sch_info
</select>
<select id="selectBBSList" resultType="Writing" parameterType="sch_model.Condition">
select <include refid="BaseColumns" /> from
(select a.*, rownum rn from (select TO_DATE(writing_date, 'mm dd yy') as sortdate, 
writing_id, writer_id, image_name, parent_id,
order_no, group_id, title, location from sch_info
order by sortdate asc) a) where rn between #{startRow} and #{endRow}
</select>
<sql id="BaseColumns">
writing_id as writingid, group_id as groupid, order_no as orderno, 
parent_id as parentid, writing_date as writingdate, 
writer_id as writerid, image_name as imagename, 
location as location, title as title
</sql>
<select id="selectWritingInfo" parameterType="Integer" 
													resultType="Writing">
select <include refid="BaseColumns"/> from sch_info 
where writing_id = #{writingid}
</select>
<select id="selectWritingContent" parameterType="Integer" 
													resultType="String">
select content from sch_content where writing_id = #{writingid}
</select>
<delete id="deleteWritingInfo" parameterType="Integer">
delete from sch_info where writing_id = #{writingid}
</delete>
<delete id="deleteWritingContent" parameterType="Integer">
delete from sch_content where writing_id = #{writingid}
</delete>
<update id="updateWritingInfo" parameterType="Writing">
update sch_info set writer_id = #{writerid},
image_name = #{imagename}, title = #{title}
where writing_id = #{writingid}
</update>
<update id="updateWritingContent" parameterType="Writing">
update sch_content set content = #{content}
where writing_id = #{writingid}
</update>
<select id="selectCount" resultType="Integer" >
select count(*) from sch_info
</select>
<select id="selectWritingInfoWithRange" parameterType="sch_model.Condition"
								resultType="Writing">
select <include refid="BaseColumns" /> from								
(select a.*, rownum rn from 								
(select * from sch_info order by group_id desc, order_no asc) a)
where rn between #{startRow} and #{endRow}								
</select>
<select id="selectMaxOrderNo" parameterType="Writing"
								resultType="Integer">
select max(order_no) from sch_info where group_id = #{groupid}
</select>
</mapper>














