<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configurations.SearchMapper">
<cache/>
	<select id="selectBandInfoToName" parameterType="String" resultType="login_model.Band">
	select id, name, email, genre, content, image_name from banduser_info where lower(name) like '%'||#{name}||'%' or upper(name) like '%'||#{name}||'%'
	</select>
</mapper>
